.newTask {
    display: grid;
    gap: 10px;
}

.add {
    border-radius: 5px;
    cursor: pointer;
    background-color: #222;
    color: whitesmoke;
}

.add:hover{
    background-color: rgb(39, 116, 56, .9);
    scale: 1.01;
    transition: all 1s ease;
}

.campo {
    display: grid;
}

.campos {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}